[submodule "frontend"]
	path = frontend
	url = https://github.com/erenasiroglu/react-ollama-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/erenasiroglu/hono-ollama-backend.git
